@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Jokes Web App</h1>
    <p>This project is an app where users can store their collection of joke questions and answers while other user can see it too. Simple CRUD to manage the joke contents with user authorization as well as search for joke question feature.</p>

    <p>
        This a jokes web app, my first attempt project on learning ASP.Net Core MVC. Followed <a href="https://www.youtube.com/watch?v=BfEjDD8mWYg&pp=ugMICgJpZBABGAHKBRVhc3AubmV0IHNoYWQgZnJlZWNvZGU%3D">tutorial video from Freecodecamp by Shad Sluiter on Youtube.</a>
        Learned on using Identity as user authorization, add new migrations and updating the database, that mac doesn't have built-in SQL-Server so I have to use DB Browser for SQLite for database management and NuGet Package Manager Console.
    </p>


    <p>Made by Adel</p>
</div>

